{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<div class="flex h-screen  justify-center items-center">
    <div class="p-10 bg-[#111] rounded-[30px] border-solid border-[1px] border-sky-500">
        <div class="">
            <div class="">
                <div class="card-body">
                    <h2 class="custom-heading">{% trans "Log In" %}</h2>
                    <form class="login custom-form" id="login_form" method="post" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn custom-button" type="submit">{% trans "Log In" %} »</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}