{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<div class="flex h-screen  justify-center items-center">
    <div class="p-10 bg-[#111] rounded-[30px] border-solid border-[1px] border-sky-500">
        <div class="">
            <div class="">
                <div class="card-body">
                    <h2 class="custom-heading">{% trans "Log Out" %}</h2>
                    <form class="logout custom-form" id="logout_form" method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <p>{% trans "Are you sure you want to log out?" %}</p>
                        <button class="btn custom-button mt-3" type="submit">{% trans "Log Out" %} »</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}