{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<div class="container custom-container">
    <div class="row justify-content-center">
        <div class="col-md-6 custom-col">
            <div class="card custom-card">
                <div class="card-body">
                    <h2 class="custom-heading">{% trans "Change Password" %}</h2>
                    <form class="password_change custom-form" id="password_change_form" method="post" action="{% url 'account_change_password' %}">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn custom-button" type="submit">{% trans "Change Password" %} »</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}