{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<div class="flex h-screen  justify-center items-center">
    <div class="p-10 bg-[#111] rounded-[30px] border-solid border-[1px] border-sky-500">
        <div class="">
            <div class="">
                <div class="card-body">
                    <h2 class="custom-heading">{% trans "Reset Password" %}</h2>
                    <form class="password_reset custom-form" id="password_reset_form" method="post" action="{% url 'account_reset_password' %}">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn custom-button" type="submit">{% trans "Reset Password" %} »</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}