{% extends "base.html" %} {% block content %}
<div class="flex justify-center text-3xl p-10 font-semibold">
    <h1 class=""> About Us</h1>
</div>
<!-- <div class="container">
    <img id="about-img" style="height: 280px; width: 280px; margin-top: 50px; " src="https://img.icons8.com/fluent/100/000000/twitter.png" />
    <p class="right-align" style="text-align: right;" id="about-text">Twitter (/ˈtwɪtər/) is an American microblogging and social networking service on which users post and interact with messages known as "tweets". Registered users can post, like, and retweet tweets, but unregistered users can only read them. Users
        access Twitter through its website interface, through Short Message Service (SMS) or its mobile-device application software ("app").[16] Twitter, Inc. is based in San Francisco, California, and has more than 25 offices around the world.[17] Tweets
        were originally restricted to 140 characters, but was doubled to 280 for non-CJK languages in November 2017.[18] Audio and video tweets remain limited to 140 seconds for most accounts. Twitter was created by Jack Dorsey, Noah Glass, Biz Stone,
        and Evan Williams in March 2006 and launched in July of that year. By 2012, more than 100 million users posted 340 million tweets a day,[19] and the service handled an average of 1.6 billion search queries per day.[20][21][22] In 2013, it was
        one of the ten most-visited websites and has been described as "the SMS of the Internet".[23][24] As of 2018, Twitter had more than 321 million monthly active users</p>
 -->
    <!-- <h4 class="center-align"><a class="btn" href="">How to use</a></h4> -->
    <!-- <br><br>
    <br><br>
    <h2 class="center-align">How to Use</h2>
    <br> -->
    <!-- <h5 class="center-align">You can start use this twitter(clone) in Just these few steps...</h5>
    <br><br> -->
    <!-- <br>
    <ul id="droup-down" style=" color: black; width: 600px; margin-left: 110px; border-radius: 50px;" class="collapsible popout center">
        <li>
            <div class="collapsible-header">
                <h6>1. Step One</h6>
            </div>
            <div style="background-color: white;" class="collapsible-body"><span><h4>Click that pulsing blue button at the bottom left corner of the home screen</h4></span></div>
        </li>
        <li>
            <div class="collapsible-header">2. Step Two</div>
            <div style="background-color: white; " class="collapsible-body"><span><h3>Draft Your Tweet</h3></span></div>
        </li>
        <li>
            <div class="collapsible-header">3. Step Three</div>
            <div style="background-color: white;" class=" collapsible-body "><span><h3>Post it.</h3></span></div>
        </li>
    </ul>
    <br><br>
</div> -->
<!-- <div class="parallax-container ">
    <div class="parallax "><img src="https://cdn.pixabay.com/photo/2017/10/10/07/48/hills-2836301__340.jpg "></div>
</div> -->
<div>
    <div class="p-10 flex sm:flex-col lg:flex-row justify-center items-center gap-32">
    <img id="about-img" class="max-h-[24rem]" src="https://store-images.s-microsoft.com/image/apps.60673.9007199266244427.4d45042b-d7a5-4a83-be66-97779553b24d.5d82b7eb-9734-4b51-b65d-a0383348ab1b?h=464" />
    <div class="w-1/2 text-xl text-center	">Welcome to Twitter, the social media platform designed to connect people, spark conversations, and share ideas in real-time. Our platform is built on the principles of openness, inclusivity, and freedom of expression.

        Whether you're sharing your thoughts in 280 characters or less, engaging in lively discussions, or discovering new perspectives from around the globe,Twitter is your go-to destination for staying informed and connected.
        
        At Twitter, we believe in the power of communication to drive positive change and foster meaningful connections. Join our vibrant community today and be a part of the conversation.
        
        Twitter- Where every voice matters.
        
        </div>
    </div>
</div>
<div class="container ">
    <br><b>
        <h3 class="center-align ">Contact</h3>
            <div class="middle ">
        <a class="btnv " href="https://google.com ">
            <i class="fab fa-google "></i>
        </a>
        <a class="btnv " href="https://www.facebook.com/akshhay.kmurali.7 ">
            <i class="fab fa-facebook "></i>
        </a>
        <!-- <a class="btn " href="# ">
            <i class="fab fa-twitter "></i>
        </a> -->
        <a class="btnv " href="https://www.instagram.com/xinathun/ ">
            <i class="fab fa-instagram "></i>
        </a>
        <!-- <a class="btn " href="# ">
            <i class="fab fa-youtube "></i>
        </a> -->
    </div>
    <br></div>{% endblock content %}