{% extends "base.html" %} {% block content %}
<h5 style="margin-top: 80px;" class="center-align">Are you sure You want to delete the Tweet ?</h5>
<div class="container">
    <form style="display: flex; justify-content: center;" action="" method="POST">
        {% csrf_token %}
        <a class="btn waves-effect waves-light red" href="/">Cancel</a>
        <button style="margin-left: 20px;" class="btn waves-effect waves-light blue" type="submit" name="Confirm">Continue</button>
    </form>
</div>
{% endblock content %}