{% extends "base.html" %} {% block content %}
<!-- <div class="personal-info">
    <h2 id="profile-title" class="center-align">Hello, {{current.username}}.<span style="margin-left: 70px;"><a style="margin-top: 20px;" href="/user_update" id="img-btn" class="btn halfway-fab waves-effect waves-light blue">Change</a></span></h2>
    <h2 class="center-align">
        <img id="profile-img" class=" circle responsive-img" src="{{current.profile.image.url}}" alt="" />
        <a href="/image_update" id="img-btn" class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
    </h2>

    <h2 class="center-align">You have</h2> -->
    <!-- <h2>{{current.profile.image.url}}</h2> commebnted -->

    <!-- <h2>{{current.profile.image.url}}</h2> commebnted -->
    <!-- <h5 id="border-animtion" class="center-align"><a style="color: white;" href="/follower_list/">Followers:</a> <span id="followers">{{followers.count}}</span>
    </h5>
    <h5 class="center-align">Following: <span id="followers">{{request.user.followers.count}}</span></h5> -->
    <!-- <h5 class="center-align">Following: <span id="following">0</span></h5> commebnted -->

    <!-- <hr />
</div> -->

<div class="personal-info">
    <h2 id="profile-title" class="px-10 pt-5 text-2xl">Hello, {{current.username}}.<span style=""><a style="margin-top: 20px;" href="/user_update" id="" class=" bg-black p-3 px-4 text-sm ml-5">Change</a></span></h2>
    <div class="sm:flex-col lg:flex-row w-full flex justify-between p-10">
        <div class="flex gap-2 flex-col">
            <img id="profile-img" class="object-cover rounded-full outline outline-2 outline-offset-1 outline-sky-400" src="{{current.profile.image.url}}" alt="" />
            <h2 class="center">
                <a href="/image_update" id="img-btn" class="btn-floating btn-large halfway-fab  waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
            </h2>
        </div> 
        <div class="flex justify-center gap-24 font-semibold items-center w-1/2 text-3xl">
            <a href="/follower_list/" class="followers flex gap-2 flex-col">
                {{followers.count}}
                <p>Followers</p>
            </a>
            <a class="followers flex gap-2 flex-col">
                {{request.user.followers.count}}
                <p>Following</p>
            </a>
        </div>      
    </div>
    <hr />
</div>


<div>
    <div>
        <div class="px-10 py-5">
            <h3 id="" class="container p-2 text-2xl mb-10">Other users</h3>
            <div id="" class="nav-wrapper black w-[20%] h-11 flex justify-center items-center rounded-full">
                <form method="GET" action="/profile_search/">
                    <div class="input-field bg-black">
                        <input style="color: grey; background-color: black;" name="query" id="query" placeholder="Search Users..." type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <h6 class="">

        {% for people in users %} {% if request.user != people %}
        <div class="row ml-14">

            <div class="">
                <div class="w-1/2 outline outline-1 outline-offset-1 outline-blue-400 bg-black rounded-[30px]">
                    <div id="" class="bg-red- rounded-md flex gap-24">
                        <div class="flex flex-col gap-3 p-8 text-xl font-semibold">
                            <img id="profile-img" class="object-cover justify-center rounded-full outline outline-2 outline-offset-1 outline-blue-400" src="{{people.profile.image.url}}" alt="" />
                            <span class="text-center">{{people.username}}</span>
                        </div>
                        <div class="flex flex-col gap-3 p-2 font justify-center items-center text-xl">
                            <h6>Following : {{people.followers.count}}</h6>
    
                            <h6>Followers : {{people.profile.followers.all.count}}</h6>
                            <div>
                                <form action="/follow/{{people.id}}" method="POST">
                                    {% csrf_token %} {% if request.user in people.profile.followers.all %}
                                    <button type="submit" name="{{people.id}}" value="{{people.id}}" class="btn btn-small waves-effect waves-light right red">
                                    UnFollow
                                </button> {% else %}
                                    <button type="submit" name="{{people.id}}" value="{{people.id}}" class="btn btn-small waves-effect waves-light right blue">
                                    Follow
                                </button> {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </h6>
    <!-- <a href=""><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt=""></a> -->

    {% else %}
    <p></p>

    {% endif %} {% endfor %}
</div>
{% endblock content %}